header {
  width: 100%;
}

:root {
  --f-jost: "Jost", Arial, Helvetica, sans-serif;
  --f-roboto: "Roboto", Arial, Helvetica, sans-serif;
}

header article {
  margin-top: 161px;
  margin-left: 185px;
  flex: 1;
}

.wrapper {
  display: flex;
}

.wrapper-header {
  display: flex;
}

.logo {
  position: absolute;
  top: 24px;
  left: calc(50% - 56.4px);
}

nav {
  display: flex;
  flex-direction: row;
  padding-left: 95px;
  padding-top: 65px;
}

.toggle {
  height: 20px;
  margin-left: -26px;
  transition: transform 0.3s ease;
}

.toggle:hover {
  cursor: pointer;
}

.toggle.rotate {
  transform: rotate(-90deg);
}

nav article.nav {
  position: absolute;
  width: 548px;
  height: 547px;
  margin-left: -95px;
  margin-top: -65px;

  transition: transform 0.5s ease;

  background-image: url("./../img/nav-bg-ellipse.svg");
  background-repeat: no-repeat;
}

nav article.nav.hidden {
  transform: translate(-600px, -600px);
}

nav article.nav.open {
  transform: translate(0px, 0px);
}

article.nav .content {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

nav article.nav .nav-exit {
  width: 45px;
  height: 45px;
  margin-left: 62px;
  margin-top: 49px;
}

.nav-exit:hover {
  cursor: pointer;
}

nav ul.nav-regular {
  margin-left: 90px;
  list-style-type: none;
  display: flex;

  font-family: var(--f-jost);
  font-style: normal;
  font-weight: normal;
  font-size: 0.6875rem;
  line-height: 15px;

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

nav article.nav ul.nav-regular {
  margin-left: 78px;
  margin-top: 55px;
}

nav article.nav .wrapper {
  justify-content: left;
}

nav a {
  text-decoration: none;
}

nav ul.nav-regular li:last-child {
  margin-left: 40px;
}

nav ul.main-menu {
  list-style-type: circle;
  margin-left: 92px;
  margin-top: 79px;

  font-family: var(--f-jost);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 20px;

  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}



nav ul.main-menu li:hover {
  list-style-type: disc;
}

ul.main-menu span {
  font-weight: 300;
}

nav ul.main-menu a {
  text-decoration: none;
}

ul.main-menu li {
  margin-top: 25px;
}

header article h1 {
  font-family: var(--f-jost);
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.1458;

  display: flex;
  align-items: center;
  text-transform: uppercase;
}

header article h2 {
  margin-top: 20px;

  font-family: var(--f-jost);
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 40px;
}

header article button {
  margin-top: 53px;

  width: 250px;
  height: 60px;

  background: #e0375f;
  border: none;
  border-radius: 30px;

  font-family: var(--f-jost);
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 10px;
  /* or 62% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

header article button:hover {
  cursor: pointer;
}

header article button:focus {
  border: none;
}

.choise {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 595px;
  left: calc(50% - 50px);
}

header figure {
  margin-top: -85px;
  flex: 1;
  height: 740px;
  background-image: url("./../img/header-boxes.svg");
  background-size: cover;
}

@media screen and (min-width: 1023px) and (max-width: 1240px) {
  nav ul.nav-regular {
    margin-left: 45px;
  }

  .choise {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 340px;
    left: calc(100% - 110px);
  }
  header article {
    margin-left: 100px;
  }

  nav article.nav ul.nav-regular {
    margin-left: 33px;
  }
}

/*MEDIA*/

/*LAPTOPS 'N' HIGH SCREENS */
@media screen and (min-width: 1241px) {
}

/* TABLETS */
@media screen and (min-width: 1024px) and (max-width: 1240px) {
  .toggle {
    margin-left: -60px;
    margin-top: -20px;
  }

  .choise {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 340px;
    left: calc(100% - 110px);
  }
  nav article.nav .nav-exit{
    margin-left: 30px;
    margin-top: 35px;
  }
  ul.nav-regular li {
    display: none;
  }
  .logo {
    left: calc(100% - 122.8px);
  }

  nav ul.main-menu {
    list-style-type: none;
  }
  nav article.nav ul.nav-regular{
    margin-left: 17px;
    margin-top: 35px;
  }
  nav article.nav{
    z-index: 1;
  }
  article.nav ul.nav-regular li {
    display: block;
    margin-left: 20px;
  }

  .wrapper-header {
    display: inline-block;
  }

  header article{
    margin-top: 60px;
    margin-left: 40px;
  }
  header figure{
    margin-top: 113px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    
  }

  header article h1{
    font-size: 28px;
  }

  header article h2{
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .toggle {
    margin-left: -60px;
    margin-top: -20px;
  }
  .choise {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 340px;
    left: calc(100% - 110px);
  }

  nav article.nav .nav-exit{
    margin-left: 30px;
    margin-top: 35px;
  }
  ul.nav-regular li {
    display: none;
  }
  .logo {
    left: calc(100% - 122.8px);
  }

  nav ul.main-menu {
    list-style-type: none;
  }
  nav article.nav ul.nav-regular{
    margin-left: 17px;
    margin-top: 35px;
  }
  nav article.nav{
    z-index: 1;
  }
  article.nav ul.nav-regular li {
    display: block;
    margin-left: 20px;
  }

  .wrapper-header {
    display: inline-block;
  }

  header article{
    margin-top: 60px;
    margin-left: 40px;
  }
  header figure{
    margin-top: 113px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    
  }

  header article h1{
    font-size: 28px;
  }

  header article h2{
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
  }

 
}

/* PHONES */
@media screen and (max-width: 767px) {
  .toggle {
    margin-left: -80px;
    margin-top: -40px;
  }

  .choise {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 340px;
    left: calc(100% - 110px);
  }
  nav article.nav .nav-exit{
    margin-left: 10px;
    margin-top: 15px;
  }
  ul.nav-regular li {
    display: none;
  }
  .logo {
    left: calc(100% - 122.8px);
  }

  nav ul.main-menu {
    list-style-type: none;
  }
  nav article.nav ul.nav-regular{
    margin-left: 17px;
    margin-top: 15px;
  }
  nav article.nav{
    z-index: 1;
  }
  article.nav ul.nav-regular li {
    display: block;
    margin-left: 20px;
  }

  .wrapper-header {
    display: inline-block;
  }

  header article{
    margin-top: 60px;
    margin-left: 10px;
  }
  header figure{
    margin-top: 113px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    
  }

  header article h1{
    font-size: 28px;
  }

  header article h2{
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
  }

  header article button{
    position: absolute;
    top: 620px;
    left: calc(50% - 125px);
  }
}
