header {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header-content{
  grid-column: 1;
}

.header-content .wrapper {
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;
}

.toggle {
  height: calc(var(--base) * 3);
  width: calc(var(--base) * 4);
  transition: transform 0.3s ease-out;
}

.toggle.rotate {
  transform: rotate(90deg);
}

ul.nav-regular {
  list-style-type: none;

  font-family: var(--f-jost);
  font-style: normal;
  font-weight: normal;
  font-size: calc(var(--base) * 3);

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

ul.nav-regular li a {
  color: var(--f-white);
  font-size: calc(var(--base) * 3);
  font-style: normal;
}

ul.nav-regular li:last-child {
  margin-left: 40px;
}

.main-menu {
  margin-left: calc(var(--base)*25);
  grid-row: 1;
}

nav {
  grid-row: 1;
}
section.title {
  grid-row: 2;
  grid-column: 2;
}

.header-content {
  position: relative;
  padding-top: calc(var(--base) * 10);
}

p.description {
  margin-top: calc(var(--base) * 5);
  font-family: var(--f-jost);
  font-size: calc(var(--base) * 9);
  font-weight: 400;
  color: var(--f-white);
  font-style: normal;
}

header section.title {
  z-index: 1;
  margin-top: calc(var(--base) * 40);
  margin-bottom: calc(var(--base) * 40);
}

header figure.boxes {
  grid-column: 2;
}

header figure.boxes img{
 
}

img.logo {
  position: absolute;
  right: calc(var(--base) * 10);
}
img.choise {
  position: absolute;
  right: calc(var(--base) * 10);
  bottom: calc(var(--base) * 10);
}

/*---- Aside nav ----*/
aside {
  position: absolute;
}
aside.open {
  display: block;
  position: absolute;
  z-index: 200;
}

.nav-overlay {
  position: fixed;
  background: rgb(0, 0, 0, 0);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: background 0.5s ease-out;
}

.nav-menu,
.nav-overlay {
  z-index: -1;
  opacity: 0;
}

.nav-menu {
  width: calc(var(--base) * 180);
  height: calc(var(--base) * 180);
  background-image: url(".././img/nav-bg-ellipse.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: contain;
  padding-top: calc(var(--base) * 6);
  transition: transform 0.5s ease-out;
  transform: translate(-500px, -500px);
}

aside.hide .nav-menu {
  transform: translate(-500px, -500px);
}

aside.open .nav-menu {
  z-index: 10;
  opacity: 1;
  transform: translate(0px, 0px);
}

aside.open .nav-overlay {
  background: rgb(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 1;
}

aside.hide .nav-overlay {
  z-index: 10;
  opacity: 1;
  background: rgb(0, 0, 0, 0);
}

aside.hide .nav-menu {
  z-index: 10;
  opacity: 1;
  transform: translate(-500px, -500px);
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-header,
.nav-body {
  transition: opacity 0.5s ease-out;
}

.nav-header.hidden,
.nav-body.hidden {
  opacity: 0;
}

.nav-header ul.nav-regular li a {
  color: var(--f-blue);
  font-size: calc(var(--base) * 3);
  font-style: normal;
}

figure.exit {
  width: calc(var(--base)*50);
  text-align: center;
}

ul.nav-expanded {
  margin-top: 50px;
  margin-left: calc(var(--base) * 25);
  list-style-type: circle;
}

ul.nav-expanded li {
  margin-top: calc(var(--base) * 6);
  font-size: calc(var(--base) * 5);
}

ul.nav-expanded li:hover {
  list-style-type: disc;
}

ul.nav-expanded li a {
  font-family: var(--f-jost);
  font-weight: 600;
  color: var(--f-blue);
  text-transform: var(--f-transform);
}
ul.nav-expanded li a span {
  font-family: var(--f-jost);
  font-weight: 300;
  font-size: calc(var(--base) * 5);
  color: var(--f-blue);
  text-transform: var(--f-transform);
}

/*---- /Article nav ----*/

/*MEDIA*/

/*LAPTOPS 'N' HIGH SCREENS */
@media screen and (min-width: 1241px) {
}

/* TABLETS */
@media screen and (min-width: 1024px) and (max-width: 1240px) {
  
  header {
    position: relative;
    display: grid;
    grid-template-columns: minmax(720px, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  header .header-content section.title{
    margin-left: 40px;
    grid-column: span 2;
  }

  header figure.boxes {
    grid-column: span 2;
  }

  header figure.boxes img{
    height: 100%;
    width: 100%;

  }

  .header-content ul.nav-regular{
    display: none;
  }

  .nav-menu {
    width: 50%;
  }

  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    position: relative;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(2, auto);
  }

  header .header-content section.title{
    margin-left: 40px;
    grid-column: span 2;
  }

  header figure.boxes {
    grid-column: span 2;
  }

  header figure.boxes img{
    width: 100%;

  }

  .header-content ul.nav-regular{
    display: none;
  }

  .nav-menu{
    width: 100%;
  }
}

/* PHONES */
@media screen and (max-width: 767px) {
  header {
    position: relative;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(2, auto);
  }

  header .header-content section.title{
    margin-left: 40px;
    grid-column: span 2;
  }

  header figure.boxes {
    grid-column: span 2;
  }

  header figure.boxes img{
    width: 100%;

  }

  .header-content ul.nav-regular{
    display: none;
  }

  .nav-menu{
    width: 100%;
  }

}
