:root {
  /*---- Font vars ----*/
  --f-jost: "Jost", Arial, Helvetica, sans-serif;
  --f-roboto: "Roboto", Arial, Helvetica, sans-serif;
  --f-blue: #00467f;
  --f-white: #ffffff;
  --f-transform: uppercase;
  /*---- /Font vars ----*/

  --base: 4px;
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "short-info"
    "prizes"
    "about-project"
    "buy-glow-1"
    "vitamins"
    "buy-glow-2"
    "blog";
}

main figure {
  display: flex;
  align-items: center;
  margin-left: calc(var(--base) * (-20));
}

main .wrapper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--base) * 15);
}

main h3 {
  font-family: var(--f-jost);
  font-weight: 400;
  font-size: calc(var(--base) * 6);
  color: var(--f-blue);
  text-transform: var(--f-transform);
}

main span {
  font-family: var(--f-jost);
  font-weight: 300;
  font-size: calc(var(--base) * 4);
  color: var(--f-blue);
}

main .wrapper-content section {
  margin-left: calc(var(--base) * 9);
  max-width: 500px;
}
main .wrapper-content section.col{
  max-width: none;
}
/*---- short-info ----*/
main article.short-info {
  grid-area: short-info;
  position: relative;
}



main article.short-info h2 {
  font-family: var(--f-jost);
  font-size: calc(var(--base) * 8);
  font-weight: 600;
  color: var(--f-blue);
  text-transform: var(--f-transform);
}

main article.short-info p {
  margin-top: calc(var(--base) * 5);
}

main article.short-info figure img:first-child {
  filter: drop-shadow(4px 4px 16px rgba(20, 57, 87, 0.25));
}

main article.short-info figure img:last-child {
  margin-left: -140px;
}

main article.short-info ul.socials {
  list-style-type: none;
  margin-top: calc(var(--base) * 10);
}

main article.short-info ul.socials li {
  margin-top: calc(var(--base) * 4);
}

main article.short-info ul.socials a {
  display: flex;
  text-decoration: none;
  align-items: center;

  font-family: var(--f-jost);
  font-size: calc(var(--base) * 6);
  color: var(--f-blue);
}

main article.short-info ul.socials li:first-child {
  text-transform: var(--f-transform);
}

main article.short-info ul.socials a img {
  width: 30px;
  margin-right: calc(var(--base) * 5);
}

main article.short-info h3 {
  font-family: var(--f-jost);
  font-weight: 400;
  font-size: calc(var(--base) * 6);
  color: var(--f-blue);
  text-transform: var(--f-transform);
}

main article.short-info ul.instruct {
  list-style-type: none;
}

main article.short-info ul.instruct li {
  display: flex;
  align-items: center;
  margin-left: calc(var(--base) * 20);
  margin-top: calc(var(--base) * 10);
}

.circle {
  position: absolute;
  border: none;
  background: var(--f-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: calc(var(--base) * -20);
  box-shadow: 2px 2px 8px rgba(20, 57, 87, 0.25);

  font-family: var(--f-jost);
  font-size: calc(var(--base) * 5);
  font-weight: 300;
  color: var(--f-white);

  display: flex;
  justify-content: center;
  align-items: center;
}
/*---- /short-info ----*/

/*---- prizes ----*/
main article.prizes {
  grid-area: prizes;
  position: relative;
  background-image: url("./../img/prizes-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

main article.prizes h2 {
  font-family: var(--f-jost);
  font-size: calc(var(--base) * 8);
  font-weight: 600;
  color: var(--f-white);
  text-transform: var(--f-transform);
}

main article.prizes ul.prize-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
}

main article.prizes ul.prize-list li {
  font-family: var(--f-jost);
  font-size: calc(var(--base) * 5);
  line-height: calc(var(--base) * 5);
  color: var(--f-white);
  display: flex;
  align-items: center;
  width: 30%;
  margin-top: calc(var(--base) * 10);
  margin-left: 60px;
}

main article.prizes ul.prize-list li:last-child {
  width: 60%;
}

main article.prizes ul.prize-list li .circle {
  background-color: var(--f-white);
  margin-left: -60px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

main article.prizes ul.prize-list li .circle img {
  margin-left: calc(var(--base) / 4);
}
main article.prizes button {
  width: calc(var(--base) * 60);
  height: calc(var(--base) * 15);
  margin-top: calc(var(--base) * 20);
  border-radius: 30px;
  background: #e0375f;
  border: none;

  font-family: var(--f-jost);
  color: var(--f-white);
  font-weight: 600;
  font-size: calc(var(--base) * 4);
  line-height: 10px;
  /* or 62% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/*---- /prizes ----*/

/*---- about-project ----*/
main article.about-project {
  grid-area: about-project;
  position: relative;
}

main article.about-project h2 {
  font-family: var(--f-jost);
  font-size: calc(var(--base) * 8);
  font-weight: 600;
  color: var(--f-blue);
  text-transform: var(--f-transform);
}

main article.about-project .container .wrapper-content figure img:first-child {
  z-index: 1;
  filter: drop-shadow(2px 4px 25px rgba(20, 57, 87, 0.25));
}

main article.about-project .container .wrapper-content figure img:last-child {
  margin-left: -90px;
  margin-top: -60px;
}



main article.about-project section p {
  margin-top: calc(var(--base) * 9);
  
}

main article.about-project .row-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: calc(var(--base) * 25) 0;
}

main article.about-project .row-wrapper h3 {
  max-width: 600px;
}


main article.about-project .container .wrapper-content:last-child figure{
  margin-left: calc(var(--base)*5);
}
main article.about-project .container .wrapper-content:last-child figure img:last-child {
  margin-top: 60px;
  filter: drop-shadow(2px 4px 20px rgba(20, 57, 87, 0.25));
  z-index: 1;
}

/*---- /about-project ----*/

/*---- buy-glow-1 ----*/
main article.buy-glow-1 {
  grid-area: buy-glow-1;
  position: relative;
}
/*---- /buy-glow-1 ----*/

/*---- vitamins ----*/
main article.vitamins {
  grid-area: vitamins;
  position: relative;
}
/*---- /vitamins ----*/

/*---- buy-glow-2 ----*/
main article.buy-glow-2 {
  grid-area: buy-glow-2;
  position: relative;
}
/*---- /buy-glow-2 ----*/

/*---- blog ----*/
main article.blog {
  grid-area: blog;
  position: relative;
}
/*---- /blog ----*/


/*MEDIA*/

/*LAPTOPS 'N' HIGH SCREENS */
@media screen and (min-width: 1241px) {
}

/* TABLETS */
@media screen and (min-width: 1025px) and (max-width: 1240px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  iframe{width: 95%;}
  :root{
    --base:3px
  }

}

/* PHONES */
@media screen and (max-width: 767px) {
}