:root {
  /*---- Font vars ----*/
  --f-jost: "Jost", Arial, Helvetica, sans-serif;
  --f-roboto: "Roboto", Arial, Helvetica, sans-serif;
  --f-blue: #00467f;
  --f-white: #ffffff;
  --f-transform: uppercase;
  /*---- /Font vars ----*/

  --base: 4px;
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "short-info"
    "prizes"
    "about-project"
    "buy-glow-1"
    "vitamins"
    "buy-glow-2"
    "blog";
}

main article {
  padding: 120px 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/*---- short-info ----*/
main article.short-info {
  grid-area: short-info;
  position: relative;
}

main article.short-info h2 {
  font-family: var(--f-jost);
  font-size: calc(var(--base) * 8);
  font-weight: 600;
  color: var(--f-blue);
  text-transform: var(--f-transform);
}

main article.short-info p{
  margin-top: calc(var(--base) * 5);
}

main article.short-info .wrapper-content {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--base) * 15);
}

main article.short-info .wrapper-content section:last-child{
  max-width: 500px;
}

main article.short-info  figure {
  display: flex;
  align-items: center;
  margin-left: calc(var(--base)* (-20));
}

main article.short-info  figure img:first-child {
  filter: drop-shadow(4px 4px 16px rgba(20, 57, 87, 0.25));
}

main article.short-info  figure img:last-child {
  margin-left: calc(var(--base) * (-35));
}

main article.short-info  ul.socials {
  list-style-type: none;
  margin-top: calc(var(--base) * 10);
}

main article.short-info  ul.socials li{
  margin-top: calc(var(--base)*4);
}

main article.short-info  ul.socials a {
  display: flex;
  text-decoration: none;
  align-items: center;

  font-family: var(--f-jost);
  font-size: calc(var(--base) * 6);
  color: var(--f-blue);
}

main article.short-info  ul.socials li:first-child {
  text-transform: var(--f-transform);
}

main article.short-info  ul.socials a img{
  width: 30px;
  margin-right: calc(var(--base) * 5);
}

main article.short-info h3{
  font-family: var(--f-jost);
  font-weight: 400;
  font-size: calc(var(--base) * 6);
  color: var(--f-blue);
  text-transform: var(--f-transform);

}

main article.short-info span{
  font-family: var(--f-jost);
  font-weight: 300;
  font-size: calc(var(--base) * 4);
  color: var(--f-blue);
}

main article.short-info ul.instruct{
  list-style-type: none;
}

main article.short-info ul.instruct li{
  display: flex;
  align-items: center;
  margin-left: calc(var(--base) * 20);
  margin-top: calc(var(--base) * 10);
}

.circle{
  position: absolute;
  border: none;
  background: var(--f-blue);
  width: calc(var(--base) * 10);
  height: calc(var(--base) * 10);
  border-radius: calc(var(--base) * 5);
  margin-left: calc(var(--base) * -20);

  
  font-family: var(--f-jost);
  font-size: calc(var(--base) * 5);
  font-weight: 300;
  color: var(--f-white);

  display: flex;
  justify-content: center;
  align-items: center;
  

}
/*---- /short-info ----*/

/*---- prizes ----*/
main article.prizes {
  grid-area: prizes;
  position: relative;
}
/*---- /prizes ----*/

/*---- about-project ----*/
main article.about-project {
  grid-area: about-project;
  position: relative;
}
/*---- /about-project ----*/

/*---- buy-glow-1 ----*/
main article.buy-glow-1 {
  grid-area: buy-glow-1;
  position: relative;
}
/*---- /buy-glow-1 ----*/

/*---- vitamins ----*/
main article.vitamins {
  grid-area: vitamins;
  position: relative;
}
/*---- /vitamins ----*/

/*---- buy-glow-2 ----*/
main article.buy-glow-2 {
  grid-area: buy-glow-2;
  position: relative;
}
/*---- /buy-glow-2 ----*/

/*---- blog ----*/
main article.blog {
  grid-area: blog;
  position: relative;
}
/*---- /blog ----*/
