* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*---- Font vars ----*/
  --f-jost: "Jost", Arial, Helvetica, sans-serif;
  --f-roboto: "Roboto", Arial, Helvetica, sans-serif;
  --f-blue: #00467f;
  --f-white: #ffffff;
  --f-transform: uppercase;
  /*---- /Font vars ----*/

  --base: 4px;
}

section{
  align-self: center;
  justify-self: center;
}

iframe{
  margin: 0 auto;
}

html,
body {
  height: 100%;
  background:#fff;
}



.bg-gradient {
  background: linear-gradient(90deg, #649ee1 0%, #91c2ec 50%);
}

.font-white {
  color: #ffffff;
}

.font-blue {
  color: #00467f;
}

main article {
  padding: 120px 0;
  grid-row-gap: calc(var(--base) * 10);
  grid-column-gap: calc(var(--base) * 10);
}


.wrapper{
  display: grid;
}


a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  width: calc(var(--base) * 60);
  height: calc(var(--base) * 15);
  margin-top: calc(var(--base) * 20);
  border-radius: 30px;
  background: #e0375f;
  border: none;

  font-family: var(--f-jost);
  color: var(--f-white);
  font-weight: 600;
  font-size: calc(var(--base) * 4);
  line-height: 10px;
  /* or 62% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

h1{
  font-family: var(--f-jost);
  font-size: calc(var(--base)*12);
  color: var(--f-white);
  font-weight: 700;
  font-style: normal;
  text-transform: var(--f-transform);
}

h2{
  margin-left: 15vw;
}

/*MEDIA*/

/*LAPTOPS 'N' HIGH SCREENS */
@media screen and (min-width: 1241px) {
}

/* TABLETS */
@media screen and (min-width: 1025px) and (max-width: 1240px) {
  

@media screen and (min-width: 768px) and (max-width: 1024px) {
  :root{
    --base: 3px;
  }
}
}

/* PHONES */
@media screen and (max-width: 767px) {
}